html{
background-color: #000000;
}
body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
#wrapper{
background-color: #eeeeee;
border: 1px solid #999;
padding: 20px;
width: 100%;


}
.left{
width: 200px;
position: absolute;
background-color: #ffffff;
padding: 10px;
float: left;
}
.left p{
    float: right;
}
.right{
  background-color: #ffffff;
  width: 120px;
  text-align: center;
  height: 400px;
  line-height: 50px;
  padding-top: 20px;
  float: right;
  
}
.center{
    background-color: #ffffff;
    position: absolute;
    margin: 0 10px;
    float: none;
}